body{
    font-style: "Amatic SC", sans-serif;
    font-weight: 400;
    font-style: normal;    
    background-color: rgb(253, 246, 236);
}
p{    
    font: "Amatic SC", sans-serif;
}
.title{    
    display: flex;
    justify-content: center;
    font-size: 80px;
}
.first-page{
    margin-bottom: 0%;
    margin-left: 15%;
    width: 70%;
    border: 1px solid rgb(232, 220, 204);
    background-color: white;
}
.second-page{
    display: flex;
    justify-content: center;
    margin-top: 0%;
    margin-left: 17%;
    padding-top: 8px;
    width: 66%;
    height: 15%;
    border: 1px solid rgb(232, 220, 204);
    border-top: 0px;
    background-color: white;
}
.third-page{
    justify-content: center;
    margin-top: 0%;
    margin-left: 19%;
    padding-top: 8px;
    width: 62%;
    height: 15%;
    border: 1px solid rgb(232, 220, 204);
    border-top: 0px;
    background-color: white;
}
.input-style{    
    padding: 10px;
    background-color: white;    
    border: none;    
    border-bottom: 1px solid rgb(232, 220, 204);
    width: 95%;
}
ul{    
    width: 95%;
    list-style-type: none;
    justify-content: space-between;  
}
ul li{ 
    position: relative; 
    display: flex;
    align-items: center;
    width: 95%;
    background-color: white;    
    border: none;    
    border-bottom: 1px solid rgb(232, 220, 204);
    width: 100%;
}
.x-style{
    position: absolute;
    right: 0%;    
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    opacity: 0;
}
.x-style:hover{
    opacity: 1;
}